.color-grid-container {
  @include flexTop;
  flex-direction: column;

  .color-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, 40px);
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    box-sizing: border-box;
    background: #444;
    width: 100%;

    &.hideInfo {
      grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    }
  }
}

.compare-color-options {
  input[type='color'] {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    background: transparent;
  }

  input[type='text'] {
    width: 60px;
    text-align: center;
  }
}

.sort-info-options {
  button {
    width: 100px;
    margin: 0;
    border: none;
  }

  .off {
    @extend %label;
  }

  .on {
    @extend %checked;
  }
}

.distance-options {
  input[type='radio'] {
    display: none;
  }

  input[type='radio'] + label {
    @extend %label;
  }

  input[type='radio']:checked + label {
    @extend %checked;
  }
}
