.color-input-container {
  max-width: 700px;

  .options-container {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;

    .title {
      @include flex(space-between);
      padding-bottom: 5px;
    }
  }

  .color-textarea {
    height: 100%;
    width: 100%;
    font-size: 11px;
    box-sizing: border-box;
    background-color: $white;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
}
