%text-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 11px;
  overflow-y: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid;
  padding: 6px;
  background-color: $white;
  width: 100%;
}

.color-input-container {
  max-width: 700px;

  .options-container {
    .title {
      @include flex(space-between);
      padding-bottom: 5px;
    }

    .options-reset-buttons {
      @include flex("center", "flex-start");
      gap: 2px;
      flex-direction: column;

      button {
        width: 100px;
      }
    }
  }

  .color-highlight-layer {
    @extend %text-layer;
    z-index: 1;
  }

  .color-textarea {
    @extend %text-layer;
    color: transparent;
    z-index: 2;
    caret-color: black;
    background: transparent;
  }

  textarea {
    resize: none;
  }
}
