
.color-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  overflow: hidden;
  margin: 2px;
  box-sizing: border-box;

  .delete-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .square {
    display: block;
    font-family: "Courier New", Courier, monospace;
    color: white;
    height: 40px;
    width: 40px;
  }

  .names {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    z-index: 1;

    p {
      cursor: pointer;
      border-radius: 2px;
      padding: 1px 2px;
      font-size: 11px;
      // Transition delay is also affected by Color::CopyText setTimeout fn
      transition: 0.1s linear background-color;
    }
  }

  &.hideInfo {
    width: auto;
    overflow: unset;

    .names {
      position: absolute;
      display: none;
      top: 98%;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &:hover {
    .delete-btn {
      opacity: 1;
    }

    &.hideInfo {
      .names {
        display: block;
      }
    }
  }
}