.color-input-container {
  max-width: 700px;

  .options-container {
    justify-content: space-between;
    align-items: unset;

    .title {
      @include flex(space-between);
      padding-bottom: 5px;
    }

    .options-reset-buttons {
      @include flex("center", "flex-start");
      gap: 2px;
      flex-direction: column;

      button {
        width: 100px;
      }
    }
  }

  .color-textarea {
    height: 100%;
    width: 100%;
    font-size: 11px;
    box-sizing: border-box;
    background-color: $white;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
}
