.color-container {
  display: flex;
  position: relative;
  box-sizing: border-box;

  .delete-btn {
    @include flex();
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    opacity: 0;
    color: $white;
    &:after {
      content: "x";
    }
  }

  .square {
    display: flex;
    align-items: flex-end;
    color: $white;
    height: 100px;
    width: 100%;

    &:hover {
      &:after {
        background: none;
      }
    }
  }

  .names {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;
    z-index: 1;
    margin-left: 3px;
    height: 45px;

    p {
      cursor: pointer;
      border-radius: 2px;
      padding: 0 2px;
      font-size: 11px;
      // Transition delay is also affected by Color::CopyText setTimeout fn
      transition: 0.1s linear background-color;
    }
  }

  &:hover {
    .delete-btn {
      opacity: 1;
    }
  }
}
