%label {
  background: lightgray;
  color: whitesmoke;
  margin-top: 2px;
  padding: 6px 10px;
  width: 100px;
  text-align: left;
}

%checked {
  @extend %label;
  background: limegreen;
  color: green;
}

.color-grid-container {
  @include flexTop;
  flex-direction: column;

  .options-container {
    @include flex;
    min-height: 90px;
  }

  .color-grid {
    @include flex(flex-start);
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    background: #444;
    min-height: 200px;
    width: 100%;
  }
}

.options {
  @include flex;
  flex-direction: column;

  p {
    text-align: center;
  }
  button,
  label {
    font-size: 14px;
    outline: none;
  }
}

.options + .options {
  margin-left: 10px;
}

.compare-color-options {
  .color-inputs {
    @include flex;

    input[type="color"] {
      padding: 0;
      margin: 0;
      background: transparent;
    }

    input[type="text"] {
      width: 50px;
      text-align: center;
    }
  }
}

.sort-info-options {
  button {
    width: 100px;
    margin: 0;
    border: none;
  }

  .off {
    @extend %label;
  }

  .on {
    @extend %checked;
  }
}

.distance-options {
  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    @extend %label;
  }

  input[type="radio"]:checked + label {
    @extend %checked;
  }
}
