$black: #444444;
$gray: rgb(212, 212, 212);
$darkgray: rgb(133, 133, 133);
$white: #ffffff;
$bg-green: rgb(238, 255, 238);
$app-padding: 20px;

// Squares
$row-height: 50px;

@mixin flex($major: center, $minor: center) {
  display: flex;
  justify-content: $major;
  align-items: $minor;
}

@mixin flexTop {
  @include flex(flex-start, flex-start);
}

%label {
  color: $darkgray;
  margin-top: 2px;
  padding: 6px 10px;
  width: 120px;
  text-align: left;
  border: 1px solid $darkgray;
}

%checked {
  @extend %label;
  background: $bg-green;
  color: $black;
  font-weight: bold;
  border: 1px solid inherit;
}
