$black: #444444;
$gray: darkgray;
$white: #ffffff;
$app-padding: 20px;

@mixin flex($major: center, $minor: center) {
  display: flex;
  justify-content: $major;
  align-items: $minor;
}

@mixin flexTop {
  @include flex(flex-start, flex-start);
}
