%label {
  background: lightgray;
  color: whitesmoke;
}

%checked {
  background: limegreen;
  color: green;
}

.compare-grid-container {
  display: flex;

  .compare-container {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }

  .color-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.compare-controls {
  input[type="radio"] {
    display: none;
  }

  .off {
    @extend %label;
  }

  input[type="radio"] + label {
    @extend %label;
    margin-top: 2px;
    padding: 6px 10px;
    width: 100px;
  }

  .on,
  input[type="radio"]:checked + label {
    @extend %checked;
  }

  .controls {
    display: flex;
    flex-direction: column;
  }
}
