%label {
  background: lightgray;
  color: whitesmoke;
  margin-top: 2px;
  padding: 6px 10px;
  width: 100px;
  text-align: left;
}

%checked {
  @extend %label;
  background: limegreen;
  color: green;
}

.compare-grid-container {
  display: flex;
  flex-direction: column;

  .options-container {
    display: flex;
  }

  .color-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.options {
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }
  button,
  label {
    font-size: 14px;
    outline: none;
  }
}

.options + .options {
  margin-left: 10px;
}

.sort-info-options {
  button {
    width: 100px;
    margin: 0;
  }

  .off {
    @extend %label;
  }

  .on {
    @extend %checked;
  }
}

.distance-options {
  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    @extend %label;
  }

  input[type="radio"]:checked + label {
    @extend %checked;
  }
}
