body {
  margin: 0;
  background: #e6e6e6;
}

p {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.compare-grid-container {
  display: flex;

  .compare-container {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }

  .color-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.color-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  box-sizing: border-box;

  &:hover {
    .delete-btn {
      opacity: 1;
    }
    .names {
      display: block;
    }
  }

  .delete-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .square {
    display: block;
    font-family: "Courier New", Courier, monospace;
    color: white;
    height: 40px;
    width: 40px;
  }

  .names {
    position: absolute;
    display: none;
    top: 98%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);

    p {
      cursor: pointer;
      border-radius: 2px;
      padding: 1px 2px;
      // Transition delay is also affected by Color::CopyText setTimeout fn
      transition: 0.1s linear background-color;
    }
  }
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0;
  margin: 0;
}

button + button {
  margin-left: 10px;
}

.action-btn {
  font-size: 24px;
}

.col + .col {
  margin-top: 20px;
}

.col {
  max-width: 1400px;
  width: 100%;
  background: whitesmoke;
  padding: 10px;

  .title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .display {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
}

.color-textarea {
  width: 100%;
  height: auto;
  max-height: 200px;
  box-sizing: border-box;
  padding: 4px 6px;
  border: none;
  resize: none;
}

.color-results {
  white-space: wrap;
}

.compare-controls {
  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    margin-top: 2px;
    padding: 6px 10px;
    background: lightgray;
    color: whitesmoke;
    width: 120px;
  }

  input[type="radio"]:checked + label {
    background: limegreen;
    color: green;
  }

  .controls {
    display: flex;
    flex-direction: column;
  }
}
