body,
p {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.all {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.color-container {
  .square {
    display: block;
    font-family: "Courier New", Courier, monospace;
    color: white;
    margin: 5px 10px;
    height: 50px;
    width: 50px;
  }

  .name {
    text-transform: uppercase;
  }
}

.col {
  width: 500px;
  background: lightgray;
  padding: 10px;

  .title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .display {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
}

.color-textarea {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  border: none;
  resize: none;
}

.color-results {
  white-space: wrap;
}
